{%extends 'base.html'%}
{%block main%}
<div class="container m-5 ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Welcome to our TV Shop</h1>
            <p>At our TV shop, we offer a wide range of high-quality televisions to suit your entertainment needs. Whether you're looking for a sleek LED TV, a smart TV with built-in streaming capabilities, or a large-screen 4K TV for an immersive viewing experience, we have it all.</p>
            <p>Our knowledgeable staff is here to assist you in finding the perfect TV that fits your budget and preferences. We also provide expert installation services to ensure your new TV is set up and ready to use.</p>
            <p>Visit our shop today and explore our extensive collection of TVs from top brands. Experience the latest in technology and enjoy your favorite shows, movies, and games like never before.</p>
            <p>Shop with confidence at our TV shop, where customer satisfaction is our top priority. We look forward to serving you!</p>
        </div>
    </div>
</div>
{%endblock%}
