{% extends 'base.html' %}
<h1>Welcome to Kenya</h1>
{% block main %}

<h2>Products list</h2>
<div class="row">
    {% for product in products %}
    <div class="col-4 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">KES {{product.price}}</p>
                <p class="card-text">
                    Quantity available: {{product.in_stock}}
                </p>
                {% if product.in_stock %}
                <a href="#" class="btn btn-primary">Order</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}